@import url("https://fonts.googleapis.com/css?family=Fira+Sans");
html,
body {
  overflow: hidden;
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Fira Sans", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  z-index: -10;
}

.player {
  position: relative;
}

.player .sub {
  position: absolute;
  height: 60px;
  top: 0;
  opacity: 0;
  left: 10px;
  right: 10px;
  background-color: #1B2B40c0;
  padding: 5px 15px 5px 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  transition: all 0.5s ease;
}
.player .sub .artist,
.player .sub .name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.player .sub .name {
  color: #D92B3Ac0;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
}
.player .sub .artist {
  color: #c2c6cf;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 5px;
}
.player .sub.active {
  top: 90px;
  opacity: 1;
  transition: all 0.5s ease;
}

.player .control-panel {
  position: relative;
  background-color: #1B2B40;
  border-radius: 15px;
  width: 500px;
  height: 90px;
  z-index: 5;
}
.player .control-panel .controls {
  display: flex;
  justify-content: flex-end;
  height: 90px;
  padding: 0 15px;
}
.player .control-panel .controls .info {
  width: 390px;
  height: auto;
}
.player .control-panel .controls .prev,
.player .control-panel .controls .play,
.player .control-panel .controls .next {
  width: 55px;
  height: auto;
  margin: 5px 0;
  background-color: #1B2B40;
  cursor: pointer;
}

.player .control-panel .controls .prev .svg,
.player .control-panel .controls .play .svg,
.player .control-panel .controls .next .svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  fill: transparent;
  stroke: #c2c6cf;
  stroke-width: 15px;
}

.player .control-panel .controls .prev .svg :hover,
.player .control-panel .controls .play .svg :hover,
.player .control-panel .controls .next .svg :hover {
  stroke: #D92B3A;
}
.player .control-panel .controls .play .svg path {
  d: path(
    "M203.791,99.628L49.307,2.294c-4.567-2.719-10.238-2.266-14.521-2.266   c-17.132,0-17.056,13.227-17.056,16.578v198.94c0,2.833-0.075,16.579,17.056,16.579c4.283,0,9.955,0.451,14.521-2.267   l154.483-97.333c12.68-7.545,10.489-16.449,10.489-16.449S216.471,107.172,203.791,99.628z"
  );
}
.player .control-panel .controls .play.playing .svg path {
  d: path(
    "M80.543,0H35.797c-9.885,0-17.898,8.014-17.898,17.898v196.883   c0,9.885,8.013,17.898,17.898,17.898h44.746c9.885,0,17.898-8.013,17.898-17.898V17.898C98.44,8.014,90.427,0,80.543,0z M196.882,0   h-44.746c-9.886,0-17.899,8.014-17.899,17.898v196.883c0,9.885,8.013,17.898,17.899,17.898h44.746   c9.885,0,17.898-8.013,17.898-17.898V17.898C214.781,8.014,206.767,0,196.882,0z"
  );
}
.player .control-panel .controls .info .artist,
.player .control-panel .controls .info .listeners,
.player .control-panel .controls .info .name {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.player .control-panel .controls .info .name {
  color: #D92B3A;
  font-size: 20px;
  margin-top: 10px;
  margin-left: 5px;
  height: 24px;
}
.player .control-panel .controls .info .artist {
  color: #c2c6cf;
  font-size: 16px;
  margin-top: 0px;
  margin-left: 5px;
  height: 19px;
}

.player .control-panel .controls .info .listeners {
  color: #c2c6cf;
  font-size: 14px;
  margin-top: 5px;
  margin-left: 5px;
  height: 17px;
}

.player .lyrics {
  position: absolute;
  height: 60px;
  top: 0;
  opacity: 0;
  left: 10px;
  right: 10px;
  background-color: #1B2B40c0;
  padding: 5px 15px 5px 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  transition: all 0.5s ease;
}
.player .lyrics .original,
.player .lyrics .translated {
  display: block;
  width: 450px;
  overflow: hidden;
  white-space: nowrap;
}
.player .lyrics .original {
  color: #D92B3Ac0;
  font-size: 20px;
  margin-bottom: 0px;
  margin-left: 5px;
}
.player .lyrics .translated {
  color: #c2c6cf;
  font-size: 16px;
  margin-bottom: 10px;
  margin-left: 5px;
}
.player .lyrics.active {
  top: -65px;
  opacity: 1;
  transition: all 0.5s ease-in-out;
}
.marquee {
  transition-delay: 1s;
  transition-property: text-indent;
  -o-transition-property: text-indent;
  -moz-transition-property: text-indent;
  -webkit-transition-property: text-indent;
  text-indent: 0%;
}

div.background {
  position: fixed;
  top: 0;
  left: 0;
  background: no-repeat scroll 50% 50%;
  background-size: cover;
  z-index: -1;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  background-image: url("/static/media/cfa71cb20e36187a28ba59df1613fe02e8433a41.jpg");
  filter: blur(0px);
  -webkit-filter: blur(0px);
}
::-moz-selection {
  background: #c2c6cf;
}

::selection {
  background: #c2c6cf;
}

.search__container {
  z-index: 4;
  position: absolute;
  top:0;
  width: 500px;
}

.search__input {
  width: 450px;
  padding: 12px 24px;
  background-color: #c2c6cf;
  transition: transform 250ms ease-in-out;
  font-size: 15px;
  line-height: 18px;
  
  color: #c2c6cf;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='#c2c6cf' width='24' height='24' viewBox='0 0 24 24'%3E%3Cpath d='M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z'/%3E%3Cpath d='M0 0h24v24H0z' fill='none'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-position: 95% center;
  border: 1px solid #c2c6cf;
  border-radius: 15px;
  transition: all 250ms ease-in-out;
  backface-visibility: hidden;
  transform-style: preserve-3d;
}

.search__input::placeholder {
      color: #c2c6cf;
      text-transform: uppercase;
      letter-spacing: 1.5px;
  }

.search__input:hover,
  .search__input:focus {
      padding: 12px 0;
      outline: 0;
      border: 1px solid transparent;
      border-bottom: 1px solid #c2c6cf;
      border-radius: 0;
      background-position: 100% center;
  }
